@tailwind base;
@tailwind components;
@tailwind utilities;

.css-1idz92c-MuiCircularProgress-svg {
  font-size: 20px;
}

#shop-by-chooise:hover #shop-now-div {
  display: flex;
}

#menu-item p a {
  display: inline-block;
  margin-bottom: 16px;
}

#admin-menu-item li {
  margin-bottom: 16px;
}
