/* @media only screen and (max-width: 899px) {
  #logo {
    display: none;
  }
} */
.css-5k4p2s-MuiButtonBase-root-MuiButton-root:hover {
  background-color: black !important;
  color: white !important;
}
